In [460]:
# setting up environment
import re
import pandas as pd

## Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [75]:
# creating function
def is_vowel(s):
    # listing vowel characters
    vowels = r'[aeiouAEIOU]'
    # using regex to find all vowels in string
    v_check = re.search(vowels, s)
    # printing 'is a vowel' if v_check found at least one vowel 
    # and if the length is 1 character (to avoid multiple vowels passing the check)
    if type(v_check) == re.Match and len(s) == 1:
        print('Is a vowel')
    # printing now a vowel otherwise
    else:
        print('Not a vowel')

In [79]:
is_vowel('a')

Is a vowel

In [80]:
is_vowel('aa')

Not a vowel

In [81]:
is_vowel('c')

Not a vowel

## Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [38]:
# creating function
def is_valid_username(s):
    # using regex to check username validity
    # first character must be lowercase letter (^[a-z])
    # remaining characters must be letters, numbers or _ and total length 
    # must be no more 32 (starting letter + 31 other characters)
    match = re.match(r'^[a-z]\w{0,31}$', s)
    return bool(match)

In [370]:
is_valid_username('jfksdhf_123')

True

In [40]:
is_valid_username('!batcat')

False

## Write a regular expression to capture phone numbers. It should match all of the following:

In [454]:
# creating function
def is_valid_phone_number(s):
    # optional group composed of '+' and number: (\+\d)? 
    # optional group of "(" or blank space: [( ]?
    # optional group of 3 numbers: (\d{3})?
    # 0 or more dashes, periods, spaces or ")": [-. )]*
    # optional group of 3 numbers: (\d{3})?
    # mandatory dash, period, or space: [-. )]*
    # mandatory group of 4 numbers(\d{4})
    match = re.match(r'(\+\d)?[( ]?(\d{3})?[-. )]*(\d{3})[-. ](\d{4})', s)
    return bool(match)

In [455]:
is_valid_phone_number('(210) 867 5309')

True

In [456]:
is_valid_phone_number('+1 210.867.5309')

True

In [457]:
is_valid_phone_number('867-5309')

True

In [458]:
is_valid_phone_number('(210-867-5309')

True

(210) 867 5309<br>
+1 210.867.5309<br>
867-5309<br>
210-867-5309<br>

## Use regular expressions to convert the dates below to the standardized year-month-day format.
<br>
02/04/19<br>
02/05/19<br>
02/06/19<br>
02/07/19<br>
02/08/19<br>
02/09/19<br>
02/10/19<br>

In [459]:
# creating series of dates
dates = pd.Series(['02/04/19', '02/05/19', '02/06/19', '02/07/19', '02/08/19', '02/09/19', '02/10/19'])

# using regex to convert dates to standardized format
dates.str.replace(r'(\d{2})/(\d{2})/(\d{2})', r'20\3-\1-\2')

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

## Write a regex to extract the various parts of these logfile lines:
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
<br>POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; <br>Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
<br>GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

### SOLUTION BELOW FROM WALKTHROUGH

In [374]:
lines = """
GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58
"""

# method, endpoint, date, protocol, http_status_code, some_number, "user_agent", ip_address

regex = r'''
(?P<method>[A-Z]+)
\s
(?P<path>.*)
\s
\[(?P<timestamp>.*)\]
\s
HTTP/1.1
\s
{(?P<status>\d+)}
\s
(?P<bytes_sent>\d+)
\s
"(?P<user_agent>.*)"
\s+
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
'''

regex = re.compile(regex, re.VERBOSE)

df = pd.DataFrame()
df['line'] = lines.strip().split('\n')
df = pd.concat([df, df.line.str.extract(regex)], axis=1)
df

,line,method,path,timestamp,status,bytes_sent,user_agent,ip
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,200,510348,python-requests/2.21.0,97.105.19.58
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,429,3561,python-requests/2.21.0,97.105.19.58

In [375]:
pd.read_csv('/usr/share/dict/words', header=None, squeeze=True)

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
Name: 0, Length: 235886, dtype: object

## You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

### SOLUTIONS BELOW FROM WALKTHROUGH

In [377]:
# Wrangle
words = pd.read_csv('/usr/share/dict/words', header=None, squeeze=True).dropna()
words = words.str.lower()
words

0                  a
1                  a
2                 aa
3                aal
4              aalii
             ...
235881        zythem
235882        zythia
235883        zythum
235884       zyzomys
235885    zyzzogeton
Name: 0, Length: 235884, dtype: object

### How many words have at least 3 vowels?

In [379]:
at_least_3_vowels = (words.str.count(r"[aeiou]")  >= 3)
words[at_least_3_vowels].head()
at_least_3_vowels.sum()

191365

### How many words have at least 3 vowels in a row?

In [380]:
words.str.count(r"[aeiou]{3}").sum()

6251

### How many words have at least 4 consonants in a row?

In [388]:
words.str.count(r"[^aeiou]{4}").sum()

19640

### How many words start and end with the same letter?

In [389]:
# How many words start and end with the same letter?
# (.) is capture group 1
# ^(.) starts with any character
# .* mean any character repeated 0 or more times
# \1$ means ends with whatever the first capture group matched
words.str.contains(r'^(.).*\1$').sum()

11452

### How many words start and end with a vowel?

In [390]:
words.str.contains(r'^[aeiou].*[aeiou]$').sum()

14657

### How many words contain the same letter 3 times in a row?

In [391]:
words[words.str.contains(r'(.)\1\1')]

24988             bossship
50636      demigoddessship
78498          goddessship
82997     headmistressship
140481       patronessship
230262            wallless
231688           whenceeer
Name: 0, dtype: object

### What other interesting patterns in words can you find?

In [392]:
words[words.str.contains(r"q([^u]|$)")]

97907         iraq
97908        iraqi
97909      iraqian
108449      louiqa
116731       miqra
122607    nastaliq
150881     pontacq
161159           q
161160           q
161161      qasida
161162        qere
161163        qeri
161164      qintar
161165    qoheleth
161166        qoph
173530       saqib
180565        shoq
198373       tareq
235046      zaqqum
Name: 0, dtype: object

In [401]:
match = re.match(r'(\+\d)', '+1')
bool(match)

True